/*--------------------------- Responsive guide ----------------------*/

/* Medium Layout: 1280px */

/* Tablet Layout: 768px */

/* Mobile Layout: 320px */

/* Wide Mobile Layout: 480px */

/* =================================== */

/*  Main
/* =================================== */

body {
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625em;
  position: relative;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #222222;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
  color: #222222;
}

.container.fullwidth {
  width: 100%;
}

.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.primary-btn {
  background-image: -moz-linear-gradient(0deg, #46dbf9 0%, #66a992 100%);
  background-image: -webkit-linear-gradient(0deg, #46dbf9 0%, #66a992 100%);
  background-image: -ms-linear-gradient(0deg, #46dbf9 0%, #66a992 100%);
  background-image: -o-linear-gradient(0deg, #46dbf9 0%, #66a992 100%);
}

.buttons {
  padding: 20px 24px 8px;
  max-width: 225px;
  margin-right: 10px;
  border: 1px solid #dddddd;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  color: #000 !important;
}

.buttons i {
  font-size: 44px;
  padding-right: 20px;
  color: #eeeeee;
  margin-top: -8px;
}

.buttons:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  background-color: #46dbf9;
  color: #fff !important;
  border: 1px solid transparent;
  text-decoration: none;
}

.buttons:hover a {
  color: #fff;
  text-decoration: none;
}

.buttons a {
  color: #000;
}

.buttons p {
  margin-bottom: 8px !important;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.buttons p span {
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.primary-btn {
  height: 50px;
  line-height: 50px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 0px;
  border: 1px solid transparent;
  background-origin: border-box;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.primary-btn:focus {
  outline: none;
}

.primary-btn:hover {
  background: transparent;
  color: #46dbf9;
  border-color: #46dbf9;
  text-decoration: none;
}

.primary-btn.white {
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

.primary-btn.white:hover {
  background: #fff;
  color: #46dbf9;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.mburger {
  width: 80px;
  height: 80px;
  --mb-bar-height: 2px;
}

#page {
  background: #3ea7e1;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 100%;
  min-height: 100vh;
  padding: 80px 0 120px 0;
  position: relative;
}

body .mm-slideout {
  --mm-sidebar-collapsed-size: 60px;
}

.mm-menu, .mm-slideout {
  --mm-sidebar-collapsed-size: 44px;
  --mm-sidebar-expanded-size: 440px;
}

.mm-slideout {
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  -o-transition: transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease,-webkit-transform .4s ease;
  z-index: 1;
}

.mm-page {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/*----- Responsive -----*/

@media screen and (max-width: 1150px) {

}

@media screen and (max-width: 970px) {

}

@media screen and (max-width: 860px) {

}